@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Poppins:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #FFFFFF;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.8rem;
}
.homepage-container {
  display: flex;
  width: 100%;
  /* background-color: #2191fa; */
  background-color: #3AB0FF;
}

.homepage-picture {
  background-image: url(https://source.unsplash.com/GDokEYnOfnE);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.homepage-text {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  flex-wrap: wrap;
  color: #fff;
  max-width: 34rem;
  margin: 3rem 5rem;
  flex: 0 1 auto; 
}

.highlight {
  color: #FF865E;
  text-shadow: 1px 1px #954c33;
}

.homepage-text button {
  max-width: 20rem;
}

.homepage-text button:hover {
  background-color: #fff;
}

.how-it-works-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  min-height: 350px;
  background-color: #FEF9EF;
}

.how-it-works-subheader {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.panel {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.tab-img {
  height: 200px;
  width: 200px;
}

.tab-text {
  text-align: center;
}

.testimonials {
  min-height: 400px;
}

